/* Estilos básicos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos básicos para el ticket */
#ticket {
    font-family: Arial, sans-serif;
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #000;
}
#ticket h2, #ticket h3 {
    text-align: center;
}
#ticket table {
    width: 100%;
    border-collapse: collapse;
}
#ticket table, #ticket th, #ticket td {
    border: 1px solid black;
}
#ticket th, #ticket td {
    padding: 5px;
    text-align: left;
}